@charset "UTF-8";
/* General/Global */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2DEBD;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none !important;
  color: black !important;
}
a:hover {
  color: blue !important;
}

li {
  padding: 5px;
}

.clarisimo {
  background-color: #E2C18B;
}

/* Para modificar variables ir a _variables.scss */
/* General/Global */
/* Header */
.header-nav {
  border: 1px black solid;
  background-color: #4F7178;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}

.home-nav {
  position: sticky;
  top: 0px;
}

.logo {
  max-height: 80px;
}

.titulo {
  text-align: center;
  font-size: 3em;
  margin: 0px;
  font-weight: bold;
}

.links ul {
  display: flex;
  list-style: none;
  font-size: 1.5em;
  justify-content: flex-end;
  margin: 0px;
  font-weight: bold;
}

/* Media Query - Header */
@media only screen and (max-width: 1200px) {
  .header-nav {
    align-items: start;
    position: sticky;
    top: 0px;
  }

  .logo {
    height: 60px;
  }

  .titulo {
    font-size: 1em;
    margin-top: 20px;
    margin-right: 0px;
  }

  .links ul {
    font-size: 0.85em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1300px) {
  .logo {
    height: 80px;
  }

  .titulo {
    font-size: 2em;
  }

  .navbar {
    margin-top: 10px;
  }

  .links ul {
    font-size: 1.25em;
  }
}
/*Header*/
/*Home */
.inicio {
  background-image: url("../img/img-frontal.jpg");
  background-size: cover;
  background-position: center;
}

.seccion-inicio {
  height: 100vh;
  color: #E4AF8E;
  letter-spacing: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 79, 113, 0.4705882353);
}

.titulo-inicio {
  background-color: rgba(79, 113, 120, 0.7);
  font-size: 4em;
  padding: 5px;
}

.presentacion {
  padding-top: 100px;
}

.titulo-seccion {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: rgba(79, 113, 120, 0.3);
}

.texto-seccion {
  font-size: 1.25em;
  font-weight: bold;
  text-align: justify;
}

.fondo-seccion {
  background-color: rgba(79, 113, 120, 0.1);
  padding: 30px;
}

.img-presentacion {
  height: 30em;
}

.lista-maquetado {
  width: 250px;
  margin: 0 auto;
}

.lista:before {
  content: "★";
  margin: 0 1em;
}

.lista {
  list-style: none;
  padding-top: 10px;
}

.link-seccion {
  border: 1px black solid;
  padding: 15px;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
}

.seccion-galeria-home {
  background-color: #E2C18B;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.titulo-galeria-home {
  padding-top: 10px;
  margin-bottom: 15px;
  font-size: 2.5em;
  font-weight: bold;
}

.img-galeria-home {
  height: 50em;
}

.texto-galeria-home {
  font-size: 2em;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: bold;
}

/* Home - Mobile */
@media only screen and (max-width: 1200px) {
  .titulo-inicio {
    background-color: rgba(79, 113, 120, 0.8);
    font-size: 1.1em;
    padding: 3px;
  }

  .presentacion {
    padding-top: 25px;
  }

  .titulo-seccion {
    font-size: 1.25em;
  }

  .texto-seccion {
    font-size: 0.85em;
  }

  .fondo-seccion {
    background-color: rgba(79, 113, 120, 0.1);
    padding: 10px;
  }

  .img-presentacion {
    height: 15em;
    margin-top: 10px;
  }

  .link-seccion {
    padding-bottom: 15px;
    font-size: 0.85em;
    margin: 15px;
  }

  .seccion-galeria-home {
    width: 97%;
  }

  .titulo-galeria-home {
    font-size: 1.25em;
  }

  .texto-galeria-home {
    font-size: 0.85em;
  }

  .img-galeria-home {
    height: 15em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .titulo-inicio {
    font-size: 2.5em;
  }

  .titulo-seccion {
    font-size: 2em;
  }

  .texto-seccion {
    padding: 0 10px;
    font-size: 1.25em;
  }

  .img-presentacion {
    margin-top: 30px;
    height: 30em;
  }

  .lista-maquetado {
    width: 200px;
    margin: 0 auto;
  }

  .link-seccion {
    padding-bottom: 25px;
    font-size: 1.75em;
    margin: 15px;
  }

  .seccion-galeria-home {
    width: 97%;
  }

  .titulo-galeria-home {
    font-size: 2em;
  }

  .texto-galeria-home {
    font-size: 1.5em;
  }

  .img-galeria-home {
    height: 30em;
  }
}
/* Home */
/*Footer*/
footer {
  border: 1px black solid;
  background-color: #E4AF8E;
  overflow: hidden;
}

.titulo-footer {
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 5px;
  letter-spacing: 4px;
}

.redes ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.img-redes {
  margin: 0 30px;
  height: 30px;
}

/* Footer - Media Query */
@media only screen and (max-width: 1200px) {
  .titulo-footer {
    font-size: 0.85em;
  }

  .img-redes {
    margin: 0 10px;
    height: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .titulo-footer {
    font-size: 1.5em;
  }

  .img-redes {
    margin: 0 10px;
    height: 30px;
  }
}
/* Footer */
/*reparacion.html y maquetado.html*/
.reparacion-maquetado {
  background-color: #F2DEBD;
  font-weight: bold;
}

.titulo-reparacion-maquetado {
  margin-top: 25px;
  font-size: 2em;
  font-weight: bold;
}

.subtitulo-reparacion-maquetado {
  font-size: 1.75em;
  font-weight: bold;
  margin-top: 10px;
}

.lista-reparacion-maquetado {
  font-size: 1.5em;
  list-style: none;
}

.li-calidad:before {
  content: url(../img/calidad.png);
  display: inline-block;
  vertical-align: middle;
}

.li-calidad {
  margin-top: 10px;
}

.li-garantia:before {
  content: url(../img/garantia.png);
  display: inline-block;
  vertical-align: middle;
}

.li-garantia {
  margin-top: 10px;
}

.li-precio:before {
  content: url(../img/precio.png);
  display: inline-block;
  vertical-align: middle;
}

.li-precio {
  margin-top: 10px;
  margin-left: 5px;
}

.li-libro:before {
  content: url(../img/libro.png);
  vertical-align: middle;
}

.li-libro {
  margin-top: 10px;
}

.ofertas-titulo {
  text-align: center;
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
}

.card-title {
  font-weight: bold;
}

.contenedor-ofertas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.caja-oferta {
  padding: 25px;
  width: 450px;
  border: 1px black solid;
  font-size: 1.25em;
}

.caja-oferta li {
  padding: 8px;
}

.img-oferta {
  height: 300px;
}

.ofertas-fin {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0px;
}

/* Asset de internet / cssbuttons.io by @martinval9 */
.card {
  box-shadow: 4px 6px 14px #2F2F42;
  border-radius: 3px;
  transition: all 0.3s;
}

.card:hover {
  margin-top: -30px;
}

/*reparacion.html y maquetado.html - Media Query */
@media only screen and (max-width: 1200px) {
  .titulo-reparacion-maquetado {
    font-size: 2em;
  }

  .subtitulo-reparacion-maquetado {
    font-size: 1.25em;
    margin-right: 10px;
  }

  .lista-reparacion-maquetado {
    font-size: 0.85em;
  }

  .ofertas-titulo {
    font-size: 1.25em;
  }

  .contenedor-ofertas {
    flex-direction: column;
  }

  .caja-oferta {
    width: 95%;
    font-size: 1em;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .caja-oferta ul {
    padding-left: 15px;
  }

  .img-oferta {
    height: 200px;
  }

  .ofertas-fin {
    text-align: center;
    font-size: 1.25em;
  }

  .card:hover {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .titulo-reparacion-maquetado {
    font-size: 2.5em;
  }

  .subtitulo-reparacion-maquetado {
    font-size: 1.5em;
  }

  .lista-reparacion-maquetado {
    font-size: 1.5em;
  }

  .ofertas-titulo {
    font-size: 2em;
  }

  .caja-oferta {
    width: 95%;
    font-size: 1.5em;
  }

  .card-title {
    font-size: 1.5em;
  }

  .img-oferta {
    height: 300px;
  }

  .ofertas-fin {
    text-align: center;
    font-size: 2em;
  }
}
/*reparacion.html y maquetado.html*/
/*galeria.html */
.titulo-galeria {
  text-align: center;
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.img-galeria {
  margin: 20px 0;
  padding: 20px 20px;
  height: 30em;
  width: 30em;
  border-radius: 25px;
}

/* galeria.html - Media Query */
@media only screen and (max-width: 1200px) {
  .titulo-galeria {
    font-size: 1.5em;
    margin-top: 10px;
  }

  .galeria {
    flex-direction: column;
  }

  .img-galeria {
    margin: 10px 0;
    margin-left: -10px;
    padding: 20px px;
    width: 96%;
    height: 22em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .titulo-galeria {
    font-size: 2.5em;
  }

  .img-galeria {
    margin-left: 10px;
    width: 95%;
    height: 30em;
  }

  .card {
    pointer-events: none;
  }
}
/*galeria.html*/
/*contacto.html*/
.contacto-html {
  background-color: #F2DEBD;
}

.titulo-contacto-html {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

.datos-contacto-html {
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 75px;
}

.texto-redes-form {
  font-size: 1.75em;
  font-weight: bold;
}

.mapa-contacto-html {
  margin-top: 10px;
  height: 370px;
}

.redes-html ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 40px 0px;
}

.img-redes-html {
  height: 75px;
  margin: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.textarea {
  height: 300px;
  font-weight: bold;
}

.label {
  padding-bottom: 10px;
  font-size: 1.75em;
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  /* Asset de internet */
  button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-weight: bold;
  }

  button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
  }

  button:active {
    transform: translateY(-1px);
  }
}
/* contacto.html - Media Query */
@media only screen and (max-width: 1200px) {
  .titulo-contacto-html {
    font-size: 1.3em;
  }

  .direcciones-contacto {
    font-size: 0.7em;
    padding-top: 10px;
    padding-left: 10px;
  }

  .texto-redes-form {
    margin-top: 25px;
    font-size: 1.25em;
  }

  .img-redes-html {
    height: 30px;
  }

  .redes-html ul {
    padding-left: 0;
  }

  .label {
    font-size: 1em;
  }

  .textarea {
    width: 90%;
    height: 150px;
    font-size: 1em;
    margin-left: 15px;
  }

  .button {
    width: 90%;
    margin-left: 15px;
    height: 30px;
    font-weight: bold;
  }

  .datos-contacto-html {
    font-size: 1.5em;
    padding: 10px;
  }

  .mapa-contacto-html {
    height: 150px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .titulo-contacto-html {
    font-size: 2em;
  }

  .datos-contacto-html {
    padding-top: 30px;
    font-size: 1.5em;
    padding-left: 50px;
  }

  .texto-redes-form {
    margin-top: 25px;
    font-size: 1.5em;
  }

  .mapa-contacto-html {
    margin-top: 10px;
    height: 200px;
  }

  .redes-html ul {
    margin: 20px 0px;
  }

  .img-redes-html {
    height: 50px;
    margin: 10px;
  }

  .label {
    padding-bottom: 10px;
    font-size: 1.5em;
  }

  .textarea {
    margin-left: 40px;
  }

  .button {
    font-weight: bold;
    margin-left: 40px;
  }
}
/* contacto.html */

/*# sourceMappingURL=styles.css.map */
